<h2>Cart:</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Numerik</th>
      <th scope="col">Summa</th>
    </tr>
  </thead>
  <tbody>
  	<% i = 0 %>
  	<% sum = 0 %>
    <% cnt = 0 %>
  	<% @order_h.each do |key, value| %>
  	<% i += 1 %>
    <% prod = Product.find(key) %>
  	<% summa = value * prod.price.to_i %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= prod.title %></td>
      <td><%= value %> шт.</td>
      <td><%= summa %></td>
      <% sum = sum + summa %>
      <% cnt += value %>
    </tr>
    <% end %>
    <td></td>
    <td></td>
    <td><%= cnt %> шт.</td>
    <td> Totall: <%= sum %> rub.</td>
  </tbody>
</table>
<form action="/order" method="POST">

  <div class="mb-3">
    <input type="hidden" name="order[sum]"  value="<%= sum %>" />
  </div>

  <div class="mb-3">
    <label  class="form-text">Name:</label>
    <input type="form-text" name="order[name]" class="form-control"  >
  </div>

  <div class="mb-3">
    <label  class="form-text">Phone:</label>
    <input type="form-text" name="order[phone]" class="form-control" placeholder="+7978-111-11-11" >
  </div>

  <div class="mb-3">
    <label  class="form-text">Adress:</label>
    <input type="form-text" name="order[adress]" class="form-control"  >
  </div>

  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
