<h2>Cart:</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product</th>
      <th scope="col">Numerik</th>
      <th scope="col">Summa</th>
    </tr>
  </thead>
  <tbody>
  	<% i = 0 %>
  	<% sum = 0 %>
  	<% @order_h.each do |key, value| %>
  	<% i += 1 %>
  	<% prod = Product.find(key) %>
  	<% summa = value * prod.price.to_i %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= prod.title %></td>
      <td><%= value %> шт.</td>
      <td><%= summa %></td>
      <% sum = sum + summa %>
    </tr>
    <% end %>
  </tbody>
</table>
<h3>Numeric products: <span id="cart_numbers">Bla</span></h3>
<h3>Finish Summa: <%= sum %> </h3>
<form action="/order" method="POST">

  <div class="mb-3">
    <input type="hidden" name="sum"  value="<%= sum %>" />
  </div>

  <div class="mb-3">
    <label  class="form-text">Name:</label>
    <input type="form-text" name="name" class="form-control"  >
  </div>

  <div class="mb-3">
    <label  class="form-text">Phone:</label>
    <input type="form-text" name="phone" class="form-control" placeholder="+7978-111-11-11" >
  </div>

  <div class="mb-3">
    <label  class="form-text">Adress:</label>
    <input type="form-text" name="adress" class="form-control"  >
  </div>

  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<script type="text/javascript">
	$(function() {
		update_orders_input();
		update_orders_button();
    number_carts();
	});
</script>