<h2>Ваш заказ принят</h2>
</ br>

<script type="text/javascript">
	$(function() {
		window.localStorage.clear();
		
    });
</script>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Adress</th>
      <th scope="col">Order</th>
      <th scope="col">Summa</th>
      <th scope="col">Created_at</th>
    </tr>
  </thead>
  <tbody>
  	<% i = 0 %>
  	
  	<% @order.each do |order| %>
  	<% i += 1 %>
    
    <tr>

      <th scope="row"><%= i %></th>
      <td><%= order.name %></td>
      <td><%= order.phone %></td>
      <td><%= order.adress %></td>
      <td><%= order.order %></td>
      <td><%= order.sum %></td>
      <td><%= order.created_at %></td>
      
    </tr>
    <% end %>
    
  </tbody>
</table>